<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a Recipe</h1>
    <form action="/recipes/create" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="instructions">Instructions:</label>
        <textarea name="instructions" id="instructions"></textarea>
        <label for="ingredients">Ingredients:</label>
        <% ingredients.forEach((ingredient) => { %>
            <label>
                <div>
                    <input type="checkbox" name="ingredients" value="<%= ingredient._id %>">
                    <%= ingredient.name %>
                </div>    
            </label>
        <% }); %>
        <button type="submit">Submit Recipe</button>
    </form>
</body>
</html>